
.container {
    display: block;
    background: grey; /* placeholder colour just to see the container */
}
.header {
    background: green; /* placeholder colour */
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 2rem;
}
.header__title {
    display: flex;
    justify-self: center;
}
.main {
    background: brown; /* placeholder colour */
    margin-left: 2rem;
    margin-right: 2rem;
}
.main__description {
    font-size: 1.1em;
    margin: 2rem;
}
.main__redirect {
    display: flex;
    gap: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}
.main__redirect-item {
    display: flex;
    list-style-type: none;
    width: 250px;
    border: solid black 4px;
    justify-content: center;
}
.redirect__item-img-container {
    display: block;
    width: 200px;
    height: 200px;
    border: solid black 4px;
}
.redirect__item-img {
    display: block;
    
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
