/* Variables for different pages */

.main-page {
    --theme-primary: #eaec68;
    --theme-secondary:#a763ff;
    --direction: center;
    --text-color: black;
}
.gallery {
    --direction: center;
}
.coral {
    --theme-primary: #30fafa;
    --theme-secondary: #f87087;
    --theme-lighter:#20fab9;
    --text-color: black;
    --text-color-hover: black;
}
.aspid {
    --theme-primary: #80EF80;
    --theme-secondary: #025c02;
    --theme-lighter:#0dff0d;
    --text-color: black;
    --text-color-hover: black;
}
.nest {
    --theme-primary: #950606;
    --theme-secondary: #693e02;
    --theme-lighter: #c70101;
    --text-color: white;
    --text-color-hover: white;
}
.bay {
    --theme-primary: #113f84;
    --theme-secondary: #D6B588;
    --theme-lighter: #297AF3;
    --text-color: white;
    --text-color-hover: black;
}
.gloom {
    --theme-primary: #363737;
    --theme-secondary: #330F53;
    --theme-lighter: #D3D3D3 ;
    --text-color: white;
    --text-color-hover: black;
}
.description {
    --direction: right;
}
.contact {
    --direction: left;
    --theme-primary: #eb9800;
    --theme-secondary:#7db1ff;
    --text-color: black;
}




/* MAIN PAGE */
.container {
    display: block;
    background: grey;
}
.header {
    display: flex;
    background: var(--theme-primary);
    justify-content: var(--direction);
    padding: 1rem;
    padding-right: 2rem;
    color: var(--text-color);
}
.header__title {
    display: flex;
    justify-self: center;
}
.main {
    background: var(--theme-secondary);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
    padding-top: 3rem;
    padding-bottom: 10rem;
}
.main__description {
    font-size: 1.1em;
    margin: 2rem;
    text-align: center;
    color: #d6d6d6;
}
.main__redirect {
    display: flex;
    gap: 4rem;
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}
.main__redirect-item {
    display: flex;
    background: var(--theme-secondary);
    list-style-type: none;
    min-width: 250px;
    max-width: 270px;
    min-height: 200px;
    max-height: 300px;
    border: solid black 4px;
    flex-direction: column;
    align-items: center;
}
.redirect__item-img-container {
    display: flex;
    width: 90%;
    height: fit-content;
    border: solid #313131 4px;
    justify-content: center;
    margin-top: 0.2rem;
}
.image {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.redirect__item-text {
    display: flex;
    background: var(--theme-primary);
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 80%;
    justify-content: center;
    font-size: 1.2em;
    border-radius: 1rem;
    overflow: hidden;
    border: solid black 3px;
}
.redirect__item-text:hover {
    background: var(--theme-lighter);
}
.footer {
    display: flex;
    margin-top: 2rem;
    min-height: 50px;
    background: var(--theme-primary);
    justify-content: center;
    gap: 20%;
    flex-wrap: wrap;
}
.redirect__contact {
    display: flex;
    margin: 2rem;
    background: pink;
    width: 100%;
    min-height: 50px;
    max-height: 200px;
    align-items: center;
    justify-content: center;
}
.redirect__contact-btn {
    font-weight: bold;
    height: fit-content;
}
.redirect__contact-btn:hover {
    text-decoration: underline;
}
.btn {
    color: var(--text-color);
    text-decoration: none;
}
.btn:hover {
    color: var(--text-color-hover);
}

/* DETAILS PAGE */
.header__title-details {
    display: flex;
    background: var(--theme-primary);
    justify-self: right;
    align-self: flex-end;
}
.details__description {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
}
.details__description-text {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-self: left;
    max-width: 1100px;
    background: #f1f1f1;
}
.details__image-container {
    display: flex;
    justify-self: right;
    min-width: 270px;
    max-width: 600px;
    padding: 0.5rem;
}
.details__gallery-redirect {
    display: flex;
    justify-content: center;
    max-width: 900px;
    min-width: 270px;
    margin-top: 0.5rem;
}
.details__main-redirect {
    display: flex;
    justify-content: center;
    max-width: 900px;
    min-width: 270px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.details__gallery-redirect:hover {
    text-decoration: underline;
}
.details__main-redirect:hover {
    text-decoration: underline;
}
/* GALLERY */
.gallery__main {
    display: flex;
    gap: 4rem;
    margin: 0;
    margin-top: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}
.gallery__item {
    display: flex;
    background: var(--theme-secondary);
    min-width: 250px;
    max-width: 400px;
    min-height: 100px;
    max-height: 450px;
    align-items: center;
    justify-content: center;
}
.gallery__image {
    display: flex;
    width: 95%;
    height: fit-content;
    border: solid #313131 4px;
    justify-content: center;
    margin-top: 0.2rem;
}
/* CONTACT PAGE */
.header__contact {
    display: flex;
    justify-self: left;
    padding-left: 2rem;
    align-self: center;
}
.contact__container {
    display: flex;
    width: 100%;
    gap: 10%;
    flex-wrap: wrap;
}
.contact__item {
    max-width: 900px;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

